.box {
  border: solid 1px var(--bkg-color-0);
  border-radius: 7px;

  box-shadow: 2px 2px 2px var(--shadow-color);

  padding: 1em;

  /* TODO THIS MIGHT BREAK BUT SO FAR FLEXBOX CONTAINER OVERRIDES IT FOR LANDING */
  width: 90%;

  position: relative;
}
