.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  padding: 1em;
}

.container > div {
  margin: 1em;
  flex: 0 1 auto;

  min-height: 11em;
  width: 20em;

  overflow: hidden;
}
