/*
===================================
      COLOR THEMES
===================================
*/
html {
  --text-color: hsla(0, 0%, 7%, 1);
  --bkg-color-1: hsla(0, 0%, 93%, 1);
  --bkg-color-2: hsla(0, 0%, 85%, .75);
  --shadow-color: rgba(0,0,0,.25);
  --warning-color-1: hsl(0, 43%, 62%);
  --warning-color-2: hsl(0, 50%, 50%);
  --warning-color-3: hsl(0, 68%, 52%);
  color-scheme: light;
}
html.dark {
  --text-color: hsla(0, 0%, 93%, 1);
  --bkg-color-0: hsla(0, 0%, 0%, 1);
  --bkg-color-1: hsla(0, 0%, 7%, 1);
  --bkg-color-2: hsla(0, 0%, 15%, 1);

}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  html {
    --text-color: #eee;
    --bkg-color-1: #121212;
    color-scheme: dark;
  }
  html.light {
    --text-color: #222;
    --bkg-color-1: #fff;
    --shadow-color: rgba(0,0,0,.25);
    color-scheme: light;
  }
}

body {
  background: var(--bkg-color-1);
  color: var(--text-color);
}

/*
===================================
      RESETS
===================================
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 18px; */
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  transform: scale(1.05);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}
/*
===================================
      GENERAL ELEMENTS
===================================
*/
main {
  padding: 1em;
  display: flex;

  position: relative;
}

main > div {
  margin: auto;
}

main button {
  background-color: inherit;
  color: inherit;

  padding: 0.55em;
  border: var(--text-color) solid 1px;
  border-radius: 7px;
}

/*
===================================
      FORM
===================================
*/
/* form { */
/*   margin: auto; */
/**/
/*   width: 25vw; */
/*   padding: 1em; */
/**/
/*   display: flex; */
/*   flex-direction: column; */
/* } */
/**/
/* form textarea { */
/*   padding: 5px; */
/* } */
/**/
/* form span { */
/*   color: var(--warning-color); */
/*   font-size: 0.9rem; */
/*   margin: 1em; */
/* } */
/**/
/* form input, */
/* label { */
/*   width: 75%; */
/*   margin: auto; */
/* } */
/**/
/* form > * { */
/*   margin-top: 1em; */
/* } */
