/*
===================================
      COLOR THEMES
===================================
*/
html {
  --text-color: hsla(0, 0%, 7%, 1);
  --bkg-color-1: hsla(0, 0%, 93%, 1);
  --shadow-color: rgba(0,0,0,.25);
  --warning-color: hsl(0, 68%, 52%);
  color-scheme: light;
}
html.dark {
  --text-color: hsla(0, 0%, 93%, 1);
  --bkg-color-0: hsla(0, 0%, 0%, 1);
  --bkg-color-1: hsla(0, 0%, 7%, 1);
  --bkg-color-2: hsla(0, 0%, 15%, 1);

}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  html {
    --text-color: #eee;
    --bkg-color-1: #121212;
    color-scheme: dark;
  }
  html.light {
    --text-color: #222;
    --bkg-color-1: #fff;
    --shadow-color: rgba(0,0,0,.25);
    color-scheme: light;
  }
}

body {
  background: var(--bkg-color-1);
  color: var(--text-color);
}

/*
===================================
      RESETS
===================================
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 18px; */
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  text-decoration-line: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}
/*
===================================
      GENERAL ELEMENTS
===================================
*/
main {
  padding: 1em;
  display: flex;

  position: relative;
}

main > .tags {
  position: absolute;
  left: 29%;
  top: 0;

  display: flex;
  justify-content: space-evenly;
  width: 40%;
}


main > div {
  margin: auto;
}

main button {
  background-color: inherit;
  color: inherit;

  padding: 0.55em;
  border: var(--text-color) solid 1px;
  border-radius: 7px;
}

.box {
  border: solid 1px var(--bkg-color-0);
  border-radius: 7px;

  box-shadow: 2px 2px 2px var(--shadow-color);

  padding: 1em;

  position: relative;
}

.stripes h5:nth-child(even) {
  background-color: var(--bkg-color-2);
}

.stripes .borrame{
  display: flex;
}

.box .bottom-row {
  display: flex;
  justify-content: space-between;
  width: 90%;

  position: absolute;
  bottom: 0;
}

.box .tags {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box .tags > li {
  border: 1px solid var(--text-color);

  font-size: .5rem;

  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
}

.box .buttons {
  display: flex;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  padding: 1em;
}

.container-flex .box {
  margin: 1em;
  flex: 0 1 auto;

  height: 10em;
  width: 20em;

  overflow: hidden;
}

/*
===================================
      NAVBAR
===================================
*/
nav {
  width: 100vw;
  height: 5em;

  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 5px 10px var(--shadow-color)
}

nav > div > * {
  margin-left: 1em;
}

nav span {
  font-weight: bold;
}

.theme-btn {
  background-color: inherit;
  color: inherit;

  display: flex;
  align-items: center;

  padding: 0.55em;
  place-content: center;
  border: var(--text-color) solid 1px;
  border-radius: 7px;
}

.nav-btn {
  padding: .5em;
  border: 1px var(--text-color) solid;
  border-radius: 7px;
}

/* TODO USE VARIABLES FOR COLOR  */
.nav-btn:hover {
  text-decoration-line: none;
  color: white;
  border-color: white;
  box-shadow: 0 0 2px rgba(255,255,255, 0.75)
}

/*
===================================
      FORM
===================================
*/
form {
  margin: auto;

  width: 25vw;
  padding: 1em;

  display: flex;
  flex-direction: column;
}

form textarea {
  padding: 5px;
}

form span {
  color: var(--warning-color);
  font-size: 0.9rem;
  margin: 1em;
}

form input,
label {
  width: 75%;
  margin: auto;
}

form > * {
  margin-top: 1em;
}
