.body {
  display: flex;
  justify-content: space-between;
}

.body h5 {
  border-bottom: 1px var(--bkg-color-2) solid;
}

.body img {
  border-radius: 100%;
  height: 5em;
  width: 5em;

  aspect-ratio: 1/1;

  margin: none;
}

.body a {
  text-decoration-line: underline;
  font-size: .75rem;
  color: var(--theme-pink);
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  width: 90%;

  position: absolute;
  bottom: 3%;
}
.tags {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  overflow-x: scroll;

}
.tags > li {
  border: 1px solid var(--text-color);

  font-size: .65rem;

  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
}

.buttons {
  display: flex;
}

.bottom-row button {
  padding: .5em;
  background-color: var(--bkg-color-2);
  border: none;

  display: flex;
  align-content: center;

  margin-left: .5em;
}

.selector-tags {
  display: flex;
  justify-content: space-around;
  max-width: 40%;
  /* background-color: var(--bkg-color-2); */

  

  padding: .25em;
}

.selector-tags > * {
  margin-left: .5em;
  font-weight: 550;
  font-size: .75rem;

  border-radius: 15em;
  box-shadow: 2px 2px 2px var(--shadow-color);
}


.selector-tags > *:nth-child(even) {
  background-color: var(--theme-pink);
}

.selector-tags > *:nth-child(odd) {
  background-color: var(--theme-orange);
}

.selector-tags > *:nth-child(1) {
  background-color: var(--text-color);
}

.selector-tags button {
  border: none;
  color: var(--bkg-color-1)
}

@media (max-width: 641px) {

  .selector-tags {
    /* width: 95vw; */
    max-width: 75%;
    flex-wrap: wrap;
    
  }

  .selector-tags > * {
    margin: .45em;
  }

}
