.header {
  display: flex;
  justify-content: space;
  width: 100%;
}

.header > * {
  margin-left: .5em;
  margin-right: .5e;
}

.header > input {
  height: 2.5em;
  width: 10em;

  flex: 2 0 auto;
  border-radius: 10px;
  border: transparent;

  padding: 1em;
}

.header > button {
  flex: 0 1 auto;
}

.table {
  width: 100%;
  padding: 1em;

  margin: auto;

}

.table td {
  padding: .25em;
  text-align: center;
}

.table > tbody > tr > td > div {
  display: flex;

  justify-content: space-evenly;
}

.table > tbody > tr:nth-child(odd) {
background-color: var(--bkg-color-0);

}

.table > tbody > tr:nth-child(even) {
background-color: var(--bkg-color-2);

}
