.navbar {
  width: 100vw;
  height: 5em;

  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 5px 10px var(--shadow-color)
}

.navbar > div > * {
  margin-left: 1em;
}

.navbar span {
  font-weight: bold;
}

.theme-btn {
  background-color: inherit;
  color: inherit;

  display: flex;
  align-items: center;

  padding: 0.55em;
  place-content: center;
  border: var(--text-color) solid 1px;
  border-radius: 7px;
}

.nav_btns button {
  padding: .5em;
  border: 1px var(--text-color) solid;
  border-radius: 7px;

  font-weight: 700;
}

.nav_btns button:hover {
  text-decoration-line: none;
  color: var(--text-color);
  border-color: var(--text-color);
  box-shadow: 0 0 2px rgba(255,255,255, 0.75);

}

.sign-btn {
  font-weight: 600;
}

.sign-btn:hover {
  text-decoration-line: underline;
  transform: none;
}

.right_btns {
  display: flex;
}

.right_btns > button {
  border: none;
}

.right_btns span {
  color: var(--theme-pink);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo > svg {
fill: var(--theme-pink);
}

.logo :hover{
  color: var(--text-color);
  fill: var(--theme-orange);
}

.logo_wrap:hover{
  text-decoration-line: none;
}

.modal_bars {
  display: none;
}

.modal_items {
  display: none;
}

@media (max-width: 641px) {
  .navbar {
    /* padding: .75; */
    padding: 0;
  }

  .logo {
    width: 85%;
  }

  .logo h3 {
    display: none;
  }

  .nav_btns {
    display: none;
  }

  .right_btns {
    display: none;
  }

  .modal_bars {
    display: block;
    margin-right: 1em;
  }

  .modal_items {
    display: block;

    padding: .5em;
    background-color: var(--bkg-color-2)
  }

  .modal_btns {
    display: flex;
    justify-content: space-between
  }

  .modal_btns button {

  padding: .5em;
  border: 1px var(--text-color) solid;
  border-radius: 7px;

  font-weight: 700;
  }

  .modal_sign {
    display: flex;

    justify-content: space-around;

    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: .75em;
  }
}
