.single_flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.single_flex > div {
  width: 35em;
  /* height: 20em; */
}

.single_flex > div > * {
  display: flex;
  justify-content: center;
  align-content: center;

  height: 100%;
}
